h1{
    font-size: 50px;
    text-align: center;
}
form,label{
    text-align: auto;
    padding-left: 20px;
}
.e1{
    background-color: rgba(0, 153, 255, 0.664);
    border-radius: 3cap;
}
.e2{
    background-color: rgb(248, 226, 98);
    border-radius: 3cap;
}
.s2{
    font-size: 20px;
    font-weight: bold;
    background-color: rgba(156, 150, 235, 0.863);
}
.s3{
    background-color: rgb(233, 153, 62);
}
.end{
    color: white;
    background-color: rgb(53, 105, 202);
    border-color: aliceblue;
    padding: 10px;
    text-align: center;
    border-radius: 1cap;
}